# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Set up Node.js 16
      uses: actions/setup-node@v4
      with:
        node-version: '16.18.1'
    
    - name: Install npm and Bower
      run: |
        npm install -g npm@8.19.2
        npm install -g bower@1.8.14

    - uses: actions/checkout@v3

    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
        java-version: '8'  # Use '8' instead of '1.8'
        distribution: 'temurin'
        cache: maven

    - name: Copy custom settings.xml
      run: cp -r .m2 $HOME/

    - name: Build with Maven
      run: mvn -B package -P docs,ui,dist,rpm -DskipTests --file pom.xml

    - name: Set up Grunt CLI v1.4.3 and build
      run: |
        npm install -g grunt-cli@1.4.3
        npm install
        grunt build

    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
