name: CI

on: push

jobs:
  linux:
    strategy:
      matrix:
        container:
        - 'ubuntu:latest'
        - 'centos:7'
        - 'centos:latest'
    runs-on: ubuntu-latest
    container: ${{ matrix.container }}
    steps:
      - run: cat /etc/*release
      - name: Install Node.js on CentOS 7
        if: matrix.container == 'centos:7'
        run: |
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash
          source ~/.nvm/nvm.sh
          nvm install 14
      - name: Set up Node.js 14
        uses: actions/setup-node@v4
        with:
          node-version: '14'
        if: matrix.container != 'centos:7'
      - name: Verify Node.js installation
        run: node --version && npm --version
